@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 170px;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

body {
  padding-top: 80px;
}

/* 헤더 영역 */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

header ul li {
  margin: 0 20px;
}

header ul li a {
  color: rgb(62, 62, 62);
}

header ul li a:hover {
  color: black;
  font-weight: 500;
}

/* 푸터 영역 */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: 30px;
}

/* 메인페이지 */
.container {
  width: 1320px;
  margin: 0 auto;
}

/* 메인페이지 -> 비주얼 영역 */
@keyframes slideAnimation {
  0%,
  24.9% {
    background-image: url(./img/slide1.png);
  }

  25%,
  49.9% {
    background-image: url(./img/slide2.png);
  }

  50%,
  74.9% {
    background-image: url(./img/slide3.png);
  }

  75%,
  100% {
    background-image: url(./img/slide4.png);
  }
}

.slide {
  background-size: 100% 100%;
  width: 1000px;
  height: 550px;
  animation: slideAnimation 8s infinite linear;
  margin: 0 auto;
}

/* 메인페이지 -> information 영역 */
.main {
  text-align: center;
  margin: 100px 0;
}

.information {
  margin: 20px auto;
  background-image: url(./img/main_information.jpg);
  width: 1000px;
  height: 550px;
  background-size: 100% 100%;
}

.information div {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information p {
  margin: 10px 0;
}

/* 메인페이지 -> game schedule 영역 */
.teamLogo {
  width: 100px;
}

.today_games {
  margin: 10px 0;
}

.today_game {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}

.today_game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.today_game span {
  color: blue;
}

.team {
  margin: 20px;
  transform: scale(1);
  cursor: pointer;
  transition: all ease-in-out;
}

.team:hover {
  transform: scale(1.2);
}

.calender {
  margin: 10px auto;
}

.calender th,
.calender td {
  padding: 8px 25px;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  cursor: pointer;
}

/* 메인페이지 -> game schedule 영역 -> 모달 영역 */
.modal {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modal_content {
  background-color: white;
  width: 450px;
  height: 390px;
  margin: 20px auto;
  border-radius: 20px;
}

.modal_body img {
  width: 300px;
}

.modal_header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal_body {
  text-align: center;
  padding: 10px;
}

.modal_footer {
  border-top: 1px solid black;
  text-align: center;
}

label {
  cursor: pointer;
}

#calenderModal:checked ~ #modal {
  display: block;
  animation: fadein 0.3s;
}

#calenderModal {
  display: none;
}