* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 170px;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

body {
  padding-top: 80px;
}

/* 헤더 영역 */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

header ul li {
  margin: 0 20px;
}

header ul li a {
  color: rgb(62, 62, 62);
}

header ul li a:hover {
  color: black;
  font-weight: 500;
}

/* 푸터 영역 */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: 30px;
}

/* 메인페이지 */
.container {
  width: 1320px;
  margin: 0 auto;
}

/* 메인페이지 -> 비주얼 영역 */
@keyframes slideAnimation {
  0%,
  24.9% {
    background-image: url(./img/slide1.png);
  }

  25%,
  49.9% {
    background-image: url(./img/slide2.png);
  }

  50%,
  74.9% {
    background-image: url(./img/slide3.png);
  }

  75%,
  100% {
    background-image: url(./img/slide4.png);
  }
}

.slide {
    background-size: 100% 100%;
    width: 1000px;
    height: 550px;
    animation: slideAnimation 8s infinite linear;
    margin: 0 auto;
}
